@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-dark-khaki-50: #f8f8ec;
  --color-dark-khaki-100: #f1f1da;
  --color-dark-khaki-200: #e3e3b5;
  --color-dark-khaki-300: #d6d68f;
  --color-dark-khaki-400: #c8c86a;
  --color-dark-khaki-500: #baba45;
  --color-dark-khaki-600: #959537;
  --color-dark-khaki-700: #707029;
  --color-dark-khaki-800: #4a4a1c;
  --color-dark-khaki-900: #25250e;
  --color-dark-khaki-950: #1a1a0a;

  --color-rosy-taupe-50: #f7f0ee;
  --color-rosy-taupe-100: #eee1dd;
  --color-rosy-taupe-200: #ddc3bb;
  --color-rosy-taupe-300: #cda598;
  --color-rosy-taupe-400: #bc8776;
  --color-rosy-taupe-500: #ab6854;
  --color-rosy-taupe-600: #895443;
  --color-rosy-taupe-700: #673f32;
  --color-rosy-taupe-800: #442a22;
  --color-rosy-taupe-900: #221511;
  --color-rosy-taupe-950: #180f0c;

  --color-ink-black-50: #e8f3fc;
  --color-ink-black-100: #d1e7fa;
  --color-ink-black-200: #a4cff4;
  --color-ink-black-300: #76b7ef;
  --color-ink-black-400: #489eea;
  --color-ink-black-500: #1b86e4;
  --color-ink-black-600: #156bb7;
  --color-ink-black-700: #105189;
  --color-ink-black-800: #0b365b;
  --color-ink-black-900: #051b2e;
  --color-ink-black-950: #041320;

  --color-dark-spruce-50: #edf7f1;
  --color-dark-spruce-100: #dcefe3;
  --color-dark-spruce-200: #b8e0c7;
  --color-dark-spruce-300: #95d0ac;
  --color-dark-spruce-400: #71c190;
  --color-dark-spruce-500: #4eb174;
  --color-dark-spruce-600: #3e8e5d;
  --color-dark-spruce-700: #2f6a46;
  --color-dark-spruce-800: #1f472e;
  --color-dark-spruce-900: #102317;
  --color-dark-spruce-950: #0b1910;

  --color-cinnamon-wood-50: #f7f0ed;
  --color-cinnamon-wood-100: #f0e1db;
  --color-cinnamon-wood-200: #e1c2b7;
  --color-cinnamon-wood-300: #d2a493;
  --color-cinnamon-wood-400: #c3856f;
  --color-cinnamon-wood-500: #b4674b;
  --color-cinnamon-wood-600: #90523c;
  --color-cinnamon-wood-700: #6c3e2d;
  --color-cinnamon-wood-800: #48291e;
  --color-cinnamon-wood-900: #24150f;
  --color-cinnamon-wood-950: #190e0b;
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
